<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SuperMarket2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>login</filter-name>
    <filter-class>com.j.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>*.mdo</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>*.mfdo</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>*.spdo</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>managerController</servlet-name>
    <servlet-class>com.j.controller.AdminGetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerController</servlet-name>
    <url-pattern>*.mdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MFController</servlet-name>
    <servlet-class>com.j.controller.MFGetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MFController</servlet-name>
    <url-pattern>*.mfdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SPController</servlet-name>
    <servlet-class>com.j.controller.SPGetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SPController</servlet-name>
    <url-pattern>*.spdo</url-pattern>
  </servlet-mapping>
</web-app>